<form #myForm="ngForm">

    <div style="width: 400px; margin: auto;">
        <div class="submit-form">
          <div *ngIf="!submitted">
                      
          
            <div class="form-group">
              <label for="name">NAME</label>
              <input
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="people.name"
                name="name"
              />
            </div>
      
            <div class="form-group">
                <label for="name">SURNAME</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  required
                  [(ngModel)]="people.surname"
                  name="surname"
                />
              </div>

              <div class="form-group">
                <label for="name">AGE</label>
                <input
                  type="text"
                  class="form-control"
                  id="age"
                  required
                  [(ngModel)]="people.age"
                  name="age"
                />
              </div>
              
              <div class="form-group">
                <label for="name">COUNTRY</label>
                <input
                  type="text"
                  class="form-control"
                  id="country"
                  required
                  [(ngModel)]="people.country"
                  name="country"
                />
              </div>
              
              <div class="form-group">
                <label for="name">EMAIL</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  required
                  [(ngModel)]="people.email"
                  name="email"
                />
              </div>
               
              <hr>
            <button (click)="savePeople()" [disabled]="!myForm.form.valid" class="btn btn-success">Submit</button>
          </div>
          
          <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newPeople()">Add</button>
          </div>
          
        </div> 
      </div>
      {{msgError}}
    </form>