<form #myForm="ngForm">

<div class="container">
    <div class="card">
      <h3 class="text-center">Lista de Vehiculos</h3>
      <div class="card-body">
      <div class="form-group form-inline">
        Busqueda de vehiculos por marca:
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
          (input)="search($event.target.value)" />
      </div>
        <table class="table table-striped">
          <thead>
            <th>MARCA</th>
            <th>REFERENCIA</th>
            <th>MODELO</th>            
            <th>COLOR</th>
            <th>ESTADO MECANICO</th>
            <th>FECHA SOAT</th>
            <th>FECHA TECNOMECANICA</th>
            <th>TRASPASO</th>

          </thead>
          <tbody>
            <tr *ngFor="let item of vehiculoSet" >
              <td>{{item.marca}}</td>
              <td>{{item.referencia}}</td>
              <td>{{item.modelo}}</td>
              <td>{{item.color}}</td>
              <td>{{item.estadoMecanico}}</td>
              <td>{{item.fechaSoat}}</td>
              <td>{{item.fechaTecnomecanica}}</td>
              <td>{{item.traspaso}}</td>
              <td>
                <button class="btn btn-info btn-sm"    
                (click)="triggerModal(modalData, item)">
                  Actualizar</button>
                  &nbsp;
                <button class='btn btn-danger btn-sm' (click)="deletePeople(item.id)" >
                  Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  
  <ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar Vehiculo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div style="width: 400px; margin: auto;">
        <div class="submit-form">
            <div class="form-group">
              <label for="marca">MARCA</label>
              <input
                type="text"
                class="form-control"
                id="marca"
                required
                [(ngModel)]="currentVehiculo.marca"
                name="marca"
              />
            </div>
            <div class="form-group">
              <label for="referencia">REFERENCIA</label>
              <input
                type="text"
                class="form-control"
                id="referencia"
                required
                [(ngModel)]="currentVehiculo.referencia"
                name="referencia"
              />
            </div>
            <div class="form-group">
              <label for="modelo">MODELO</label>
              <input
                type="text"
                class="form-control"
                id="modelo"
                required
                [(ngModel)]="currentVehiculo.modelo"
                name="modelo"
              />
            </div>

            <div class="form-group">
              <label for="color">COLOR</label>
              <input
                type="text"
                class="form-control"
                id="color"
                required
                [(ngModel)]="currentVehiculo.color"
                name="color"
              />
            </div>
            
            <div class="form-group">
              <label for="estadoMecanico">ESTADO MECANICO</label>
              <input
                type="text"
                class="form-control"
                id="estadoMecanico"
                required
                [(ngModel)]="currentVehiculo.estadoMecanico"
                name="estadoMecanico"
              />
            </div>
            
            <div class="form-group">
              <label for="fechaSoat">FECHA SOAT</label>
              <input
                type="date"
                class="form-control"
                id="fechaSoat"
                required
                [(ngModel)]="currentVehiculo.fechaSoat"
                name="fechaSoat"
              />
            </div>
          
            <div class="form-group">
              <label for="fechaTecnomecanica">FECHA TECNO</label>
              <input
                type="date"
                class="form-control"
                id="fechaTecnomecanica"
                required
                [(ngModel)]="currentVehiculo.fechaTecnomecanica"
                name="fechaTecnomecanica"
              />
            </div>
            <div class="form-group">
              <label for="traspaso">TRASPASO</label>
              <input
                type="text"
                class="form-control"
                id="traspaso"
                required
                [(ngModel)]="currentVehiculo.traspaso"
                name="traspaso"
              />
            </div>

            </div>
          </div>
      
    
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" 
      (click)="updatePeople()"
      (click)="modal.close('Save click')">Guardar</button>
    </div>
  </ng-template>

</form>